* {
	margin: 0;
	padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
}
body {
	font-family: "DM Sans", sans-serif;
	font-weight: 400;
	color: #171717;
	font-size: 14px;
}
/* main styling */
.wrapper {
	width: 480px;
	margin: 7.5% auto;
	height: auto;
}
header {
	margin: 0 0 20px 0;
}
header p, .footer p {
	margin: 0 0 3px 0;
}
.content p {
	margin: 0 0 20px 0;
}
.row {
	display: flex;
	justify-content: space-between;
}
.cases p {
	margin: 0 0 10px 0;
}
.spacing {
	margin-bottom: 50px;
}
#tracks {
	margin-bottom: 20px;
}
#tools {
	margin: 0 0 20px 0;
}
#tools li, .number {
	text-decoration: none;
	color: lightgray;
}
/* font styling, colors etc */
h1 {
	font-weight: 500;
	font-size: 15px;
}
h2, h3 {
	font-weight: 400;
	font-size: 15px;
	margin: 0 0 10px 0;
}
ul {
	list-style-type: none;
}
ul li {
	text-decoration: underline;
	margin-bottom: 3px;
}
a {
	color: #0000FF;
}
img {
	max-width: 100%;
	max-height: 600px;
	height: auto;
	filter: grayscale(1);
}
.track a {
	color: #0000FF;
	text-transform: lowercase;
}
.marquee {
  overflow: hidden;
  white-space: nowrap;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 10s linear infinite;
}

.marquee:hover span {
  animation-play-state: paused;
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}
/* dark mode styling */

/* mobile device styling */
@media screen and (max-width: 480px) {
	.wrapper {
		width: 90%;
	}
	.content {
    	min-height: calc(98% - 60px);
	}
}